* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 

 
 @keyframes appear {
 	0% {
 		opacity:0;
 		transform: scale(0.01)rotate(15deg);
 		
 	}
 	10% {
 		opacity:0.1;
 		transform: scale(0.1)rotate(22deg);
 		
 	}
 	20% {
 		opacity: 0.2;
 		transform: scale(0.2)rotate(30deg);
 		
 	}
 	30% {
 		opacity:0.3;
 		transform: scale(0.3)rotate(37deg);
 		
 	}
 	40% {
 		opacity: 0.4;
 		transform: scale(0.4)rotate(45deg);
 		
 	}
 	50% {
 		opacity:0.5;
 		transform: scale(0.5)rotate(37deg);
 		
 	}
 	60% {
 		opacity: 0.6;
 		transform: scale(0.6)rotate(30deg);
 		
 	}
 	70% {
 		opacity:0.7;
 		transform: scale(0.7)rotate(22deg);
 		
 	}
 	80% {
 		opacity: 0.8;
 		transform: scale(0.8)rotate(15deg);
 		
 	}
 	90% {
 		opacity:0.9;
 		transform: scale(0.9)rotate(7deg);
 		
 	}
 	100% {
 		opacity: 1.0;
 		transform: scale(1.0)rotate(0deg);
 		
 	}

 }
body {
  background:  #efefef;
  }

  .container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.grid-section {
  overflow: hidden;
  padding-bottom: 200px;
}

.grid {
  padding-bottom: 100%;
  position: relative;
  height: 50vh;
  transform: rotate(45deg);
  transform-origin: 39%;
  background-color: #efefef;
  border-top: 7px solid #777;
  border-left: 7px solid #777;
}
.square {
  width: 11.5%;
  border-radius: 10%;
  padding-bottom: 11.5%;
  background-color: #005555;
  border: 2px solid   #004444;
  display: inline-block;
  animation-name: appear;
  transition: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.square-big {
  width: 25%;
  border-radius: 5%;
  padding-bottom: 25%;
  display: inline-block;
  transition: 2s;
  background-color: #006666;
  border: 2px solid  #007777;
  animation-name: appear;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.square-medium {
  width: 20.5%;
  border-radius: 5%;
  padding-bottom: 20.5%;
  display: inline-block;
  transition: 2s;
  background-color: #006666;
  border: 2px solid  #007777;
  animation-name: appear;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.square:hover {
  background-color: #0066cc;
}

.square-big:hover {
  background-color: #006699;
}

.square-medium:hover {
  background-color: #0066b3;
}

#square1 {
  position: absolute;
  top: 9.5%;
  left: 10.5%;
  animation-duration: 2s;
}

#square2 {
  position: absolute;
  top: 5.5%;
  left: 32.5%;
  animation-duration: 2s;
}

#square3 {
  position: absolute;
  top: 32.5%;
  left: 5.5%;
  animation-duration: 2.5s;
}

#square4 {
  position: absolute;
  top: 32.5%;
  left: 19%;
  animation-duration: 2.5s;
}

#square5 {
  position: absolute;
  top: 32.5%;
  left: 32.5%;
  animation-duration: 3s;
}

#square6 {
  position: absolute;
  top: 46%;
  left: 5.5%;
  animation-duration: 3s;
}

#square7 {
  position: absolute;
  top: 46%;
  left: 19%;
  animation-duration: 3s;
}

#square8 {
  width: 7.5%;
  padding-bottom: 7.5%;
  position: absolute;
  top: 59.5%;
  left: 5.5%;
  animation-duration: 3.5s;
}

#square9 {
  position: absolute;
  top: 59.5%;
  left: 15%;
  animation-duration: 3.5s;
}

#square10 {
  position: absolute;
  top: 59.5%;
  left: 37.5%;
  animation-duration: 3.5s;
}

.square-big p {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: rotate(315deg);
  color: white;
  font-family: "Raleway";
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 568px) {
  .square-big p {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .square-big p {
    font-size: 18px;
  }
}

.square-medium p {
  position: absolute;
  top: 25%;
  left: 45%;
  transform: rotate(315deg);
  color: white;
  font-family: "Raleway";
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 568px) {
  .square-medium p {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .square-medium p {
    font-size: 18px;
  }
}

.square p {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: rotate(315deg);
  color: white;
  font-family: "Raleway";
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 568px) {
  .square p {
    font-size: 14px;
  }
}
 
  
.github {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/icon-github.png");
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

@media(min-width: 420px){
  .github{
    width: 20px;
    height: 20px;
  }
  
}
@media(min-width: 568px){
  .github{
    width: 30px;
    height: 30px;
  } 
}

@media(min-width: 768px){
  .github{
    width: 40px;
    height: 40px;
  } 
}