* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 

 
 @keyframes appear {
 	0% {
 		opacity:0;
 		transform: scale(0.01)rotate(15deg);
 		
 	}
 	10% {
 		opacity:0.1;
 		transform: scale(0.1)rotate(22deg);
 		
 	}
 	20% {
 		opacity: 0.2;
 		transform: scale(0.2)rotate(30deg);
 		
 	}
 	30% {
 		opacity:0.3;
 		transform: scale(0.3)rotate(37deg);
 		
 	}
 	40% {
 		opacity: 0.4;
 		transform: scale(0.4)rotate(45deg);
 		
 	}
 	50% {
 		opacity:0.5;
 		transform: scale(0.5)rotate(37deg);
 		
 	}
 	60% {
 		opacity: 0.6;
 		transform: scale(0.6)rotate(30deg);
 		
 	}
 	70% {
 		opacity:0.7;
 		transform: scale(0.7)rotate(22deg);
 		
 	}
 	80% {
 		opacity: 0.8;
 		transform: scale(0.8)rotate(15deg);
 		
 	}
 	90% {
 		opacity:0.9;
 		transform: scale(0.9)rotate(7deg);
 		
 	}
 	100% {
 		opacity: 1.0;
 		transform: scale(1.0)rotate(0deg);
 		
 	}

 }
body {
  background:  #acacac;
  }
 
  

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}
.grid-section {
    overflow: hidden;
    padding-bottom: 200px;
    
}
 
.grid {
    padding-bottom: 100%;
    position: relative;
    height: 50vh;
    transform: rotate(45deg);
    transform-origin: 39%;
}
 
.square {
    width: 11.5%;
    border-radius: 10%;
    padding-bottom: 11.5%;
    background-color:  #005555;
    border: 2px solid   #004444;
    box-shadow: 15px 15px 45px #666;
    display: inline-block;
    animation-name: appear;
    //animation-delay: 2s;
    transition: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
}
 
.square-big {
    width: 25%;
    border-radius: 5%;
    padding-bottom: 25%;
    display: inline-block;
    transition: 2s;
    background-color: #006666;
    border: 2px solid  #007777;
    box-shadow: 24px 24px 60px #666;
    animation-name: appear;
    //animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    z-index: 2;
}

.square:hover {
  //transform: rotateX(180deg);
  transform: scale(1.2);
  background-color: #006666;
}
.square-big:hover {
  //transform: rotateX(180deg);
  transform: scale(1.1);
  background-color: #005555;
}
  
#square1 {
  position: absolute;
  top: 0.5%;
  left: 20.5%; 
  animation-duration: 2s;
}

#square2 {
  position: absolute;
  top: 0.5%;
  left: 47.5%; 
  animation-duration: 2s;
}

#square3 {
  position: absolute;
  top: 27.5%;
  left: 20.5%; 
  animation-duration: 2.5s;
}

#square4 {
  position: absolute;
  top: 27.5%;
  left: 34%; 
  animation-duration: 2.5s;
}

#square5 {
  position: absolute;
  top:27.5%;
  left: 47.5%;
  animation-duration: 3s;
  
}
#square6 {
  position: absolute;
  top: 41%;
  left:20.5%;
  animation-duration: 3s;
  
}
#square7 {
  position: absolute;
  top: 41%;
  left: 34%;
  animation-duration: 3s;
  
}
#square8 {
  position: absolute;
  top: 54.5%;
  left: 20.5%;
  animation-duration: 3.5s;
  
}
#square9 {
  position: absolute;
  top: 54.5%;
  left: 34%;
  animation-duration: 3.5s;
  
}
#square10 {
  position: absolute;
  left: 61%;
  top: 54.5%;
  animation-duration: 3.5s;
}
#square11 {
  position: absolute;
  left: 61%;
  top: 68%;
  animation-duration: 4s;
  
}
#square12 {
  position: absolute;
  left: 20.5%;
  top: 68%;
  animation-duration: 4s;
}

.square-big p {
  position: absolute;
  top: 25%;
  left:50%;
  transform: rotate(315deg);
  color: white;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.square p {
  position: absolute;
  top: 25%;
  left:25%;
  transform: rotate(315deg);
  color: white;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media(min-width: 560px){
    .square p {
      font-size: 16px;
  }
@media(min-width: 768px){
   .square p {
      font-size: 18px;
    }
}
@media(min-width: 1000px){
  .square p {
    font-size: 20px;
  }
}
@media(min-width: 560px){
    .square-big p {
      font-size: 16px;
  }
@media(min-width: 768px){
   .square-big p {
      font-size: 18px;
    }
}
@media(min-width: 1000px){
  .square-big p {
    font-size: 20px;
  }
}


footer {
  background: #88B04B;;
  height: 25vh;
  width: 100vw;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}