*{
	padding: 0;
	margin: 0;
	max-width: 100vw;
}
body {
	font-family: 'Orbitron', sans-serif;
	background-color:  #003366;
	max-width: 100vw;
	overflow-x: hidden;
}
section {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	background-color:  #003366;
}

#welcomeSection {
	background-color:  #003366;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-transform: uppercase;
	background-attachment: fixed;
}

h1 {
	font-size: 25px;
	text-align: center;
	color: #ffff33;
	text-shadow: 4px 4px #ff00aa;
}
h2 {
	font-size: 20px;
	color: #ffff33;
	text-align: center;
	text-shadow: 4px 4px #aa00ff;
}

@media(min-width: 568px){
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 30px;
	}
}

h3 {
	width: 50%;
	color: #ffff33;
	text-align: center;
	text-shadow: 2px 2px #ffff99;
	font-weight: bolder;
	font-size: 15px;
	
}
@media(min-width: 568px){
	h3 {
		font-size: 20px;
	}
}
img {
	width: 32vw;
	height: 200px;
	//border: 1px solid blue;
	position: relative;
	color: white;

}

#descriptionArticle p {
	width: 60%;
	color: #ffff99;
	line-height: 1.2;
	font-size: 25px;
	margin: 0 auto;
}


#gallerySection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}

#descriptionSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}
#gallerySection h1 {
	width: 100%;
	background: #001122;
	padding: 5px;
	color: #ffff99;
	text-shadow: 4px 4px  #ff00aa;
}
#aboutPhoto, #loadingBtn {
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 50%;
	color: #ffff88;
	font-size: 25px;
	border: 2px solid #ffff99;
	font-family: 'Orbitron', sans-serif;
	background: #ff0011;
}

#aboutPhoto {
	background-color:  #9900cc;
	margin-top: 20px;
}
#pictureGallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	//align-items : center;
	align-content: center;	
	//border: 1px solid black;
	max-width: 100vw;
	height: auto;
}