*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: darken(mix(#ababab,cadetblue, 70%),20%);
	font-family: 'Fredericka the Great', cursive;
}
section {
	width: 90vw;
	height: 80vh;
	margin: 0 auto;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	h1, h2, h3 {
		text-align: center;
		font-family: 'Fredericka the Great', cursive;
		color: #eeeeee;
		text-shadow: 2px 2px #343434;
	}
	article {
		margin-top: 10px;
		p {
			text-align: center;
			margin: 10px;
			color: #efefef;
			font-weight: bolder;
		}
	}
}

h1 {
	font-size: 2em;
	font-family: 'Fredericka the Great', cursive;
	@media(min-width: 768px){
		font-size: 2.3em;
	}

}
h2 {
	font-size: 1.5em;
	@media(min-width: 768px){
		font-size: 1.7em;
	}
}
h3{
	font-size: 1.2em;
	@media(min-width: 768px){
		font-size: 1.6em;
	}
}
.questionContainer {
	width: 80vw;
	margin: 0 auto;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	h2 {
		text-decoration: underline;
	}
	h2, h3 {
		text-align: center;
		margin-top: 10px;
	}
}
article:nth-of-type(2){
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	div {
		display: flex;
		width: 90%;
		min-height: 60px;
		margin-top: 10px;
		justify-content: space-around;
		align-items: center;
		button {
			width: 40%;
			height: 34px;
			border-radius: 30px;
			border: none;
			background-color: lighten(gold, 10%);
			color: darken(cadetblue, 20%);
			font-size: 1em;
			@media(min-width: 560px){
				font-size: 1.4em;
			}
		}

	}
}

.answerContainer {
	width: 90%;
	min-height:200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	.answerButton {
		width: 44%;
		height: 100px;
		margin: 5px;
		border: none;
		color: white;
		text-shadow: 1px 1px #555;
		font-weight: bolder;
		font-size: 0.9em;
		border-radius: 4%;
		font-family: 'Fredericka the Great', cursive;
		&:first-of-type {
			background-color:darken(mix(gold, red, 10%), 10%) ;
		}
		&:nth-of-type(2) {
			background-color:  darken(mix(gold, #ffff77, 90%), 10%);
		}
		&:nth-of-type(3) {
			background-color: darken(mix(blue, cadetblue), 10%);
		}
		&:nth-of-type(4) {
			background-color: darken(mix(silver, green, 30%), 10%);
		}
		@media(min-width: 768px){
			font-size: 1.4em;
		}
	}

}

.displayBoard {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90vw;
	border: 3px solid #333;
	border-radius: 5%;
	@media(min-width: 560px){
		width: 50vw;
	}
	min-height: 350px;
	h3 {
		text-align: center;
		color: white;
		text-decoration: underline;
	}
	
	h3{
		font-size: 1.3em;
		@media(min-width: 768px){
			font-size: 1.6em;
		}
	}
	div {
		height: 200px;
		width: 150px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	p {
		height: auto;
		width: 95%;
		text-align: center;
		color: white;
		font-weight: bolder;
		font-size: 1em;
		@media(min-width: 768px){
			font-size: 1.2em;
		}
	}
	button {
		width: 150px;
		height: 35px;
		border: none;
		border-radius: 35px;
		background-color: darken(cadetblue, 20%);
		color: white;
		font-weight: bolder;
		font-size: 1em;
	}

	div:not(.displayDiv){
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		button {
			width: 45%;
		}
	}

}
.slytherin {
	background-color: lighten(mix(silver, green, 30%), 10%);
	.displayDiv {
		background-image: url("../images/slytherin.jpg");
	}
		
}
.ravenclaw {
	background-color: lighten(mix(blue, cadetblue), 10%);
	.displayDiv {
		background-image: url("../images/ravenclaw.jpg");
	}
}
.gryffindor {
	background-color: lighten(mix(gold, red, 10%), 10%) ;
	.displayDiv {
		background-image: url("../images/gryffindor.jpg");
	}
	
}
.hufflepuff {
	background-color:  darken(mix(gold, #ffff77, 60%), 10%);
	h3 {
		color: darken(cadetblue, 20%);
		text-shadow: none;
	}
	.displayDiv {
		background-image: url("../images/hufflepuff.png");
	}
	p {
		color: darken(cadetblue, 20%);
	}
	
}
.undecided {
	background-color: cadetblue;
	.displayDiv {
		background-image: url("../images/questionmark.jpg");
	}
}
