@import "_variables";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: darken($baseColor, 10%);
	font-family: "Open Sans";
}


section {
	width: 90vw;
	min-height: 100vh;
	background: $baseColor;
	border: 1px dashed $secondaryColor;
	margin: 0 auto;
	margin-top: 5%;
	@extend %layout;

	article{
		@extend %layout;
		width: 100%;
		height: 100%;
		//border: 1px solid red;

		.item {
			margin-top: 10px;
		}
	}

}

.listsContainer {
	@extend %layout2;
	//border: 1px solid blue;
	width: 100%;
	height: auto;
	.inside {
		@extend %layout;
		//border: 1px solid orange;
		width: 30%;
		height: auto;
		h3 {
			width: 100%;
			//border: 1px solid black;
			height: auto;
			text-transform: capitalize;
			font-family: "Pacifico";
			text-align: center;
			text-decoration: underline;
			font-size: 15px;
			@media(min-width: 420px){
				font-size: 18px;
			}
			@media(min-width: 568px){
				font-size: 20px;
			}
			@media(min-width: 960px){
				font-size: 22px;
			}
		}
	}
}

.taskList {
	list-style-type: none;
	@extend %layout;
	font-size: $baseFont/1.5;
	width:100%;
	//border: 2px solid yellow;
	li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		h4 {
			width: 100%;
		}
		button {
			width: 40%;
		}
	}
}
@for $i from 1 through 6 {
	h#{$i}{
		font-size: $baseFont * 2/$i;
		text-align: center;
		color: $secondaryColor;
		
	}
}

h1 {
	color: $secondaryColor;
	text-decoration: underline;
	font-family: 'Pacifico';
}


h2 {
	color: $tertiaryColor;
	background: $fourthColor;
	border: 1.5px dotted $tertiaryColor;
	height: 50px;
	line-height: 50px;
}

input {
	background: $fourthColor;
	border: 2px dashed $tertiaryColor;
	width: 60%;
	height: 50px;
	font-family: "Open Sans";
	text-align: center;
	color: $tertiaryColor;
	font-weight: bold;
	font-style: italic;
	font-size: $baseFont/1.5;
}

.invisible {
	visibility: hidden;
}
.complete {
	h4 {
		text-decoration: underline;
		font-weight: bold;
		color: $fourthColor;
		opacity: 0.5;
	}
	
}

button {
	width: auto;
	height: 50px;
	border-radius: 5%;
	font-family: "Open Sans";
	color: $fourthColor;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: $baseFont/1.7;
	background: $tertiaryColor;
	&:hover {
		background: $secondaryColor;
	}
	border: none;
	margin: 10px 2px;
}

