$mainColor: lighten(#ff9966, 40%);
$baseColor : mix($mainColor, lightblue, 10%);
$secondaryColor: lighten($baseColor, 10%);
$thirdColor: darken($baseColor, 40%);
$fourthColor: darken($baseColor, 30%);
$fifthColor: darken($baseColor, 50%);
$bigFont: 72px;
$mediumFont: 42px;
$headerColor: #ccff33;


@mixin biggerLetters($amount){
	&:hover {
	font-size: $font-size + $amount;
	}
}

@mixin layoutMixin1($color) {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: $color;
}

@mixin layoutMixin2($color) {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: $color;

}

@mixin layoutMixin3($color) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color;

}
@mixin layoutMixin4($color) {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $color;

}


@mixin gamesBoards($color) {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	background-color: $color;

}

