@media only screen and (min-device-width : 320px) and (max-device-width: 430px) {
    body {
        height: 500px;
    }

    #divContainer {
        width: 100%;
        height: 500px;
        padding: 2%;
        margin: 2%;
    }

    #startButton {
        width: 100px;
        height: 60px;
        font-size: 1em;
        
    }

    .eventButtons {
        width: 100px;
        height: 60px;
        font-size: 1em;
    }

    #counter {
        width: 100px;
        height: 60px;
        font-size: 1em;
        font-weight: bold;
        font-size: 1em;
    }

    div {
        width: 20%;
        height: 15%;
    }

    
    footer {
        display: none;
        }

}

@media only screen and (min-device-width: 431px) and (max-device-width: 580px) {

        body {
        height: 500px;
    }

    #divContainer {
        width: 100%;
        height: 500px;
        padding: 2%;
        margin: 2%;
    }

    #startButton {
        width: 100px;
        height: 60px;
        font-size: 1em;
        
    }

    .eventButtons {
        width: 100px;
        height: 60px;
        font-size: 1em;
    }

    #counter {
        width: 100px;
        height: 60px;
        font-size: 1em;
        font-weight: bold;
    }

    div {
        width: 15%;
        height: 18%;
    }


}

@media only screen and (min-device-width : 581px) and (max-device-width:780px){

        body {
        height: 500px;
    }

    #divContainer {
        width: 100%;
        height: 400px;
        padding: 2%;
        margin: 2%;
    }

    #startButton {
        width: 100px;
        height: 60px;
        font-size: 1em;
        
    }

    .eventButtons {
        width: 100px;
        height: 60px;
        font-size: 1em;
    }

    #counter {
        width: 100px;
        height: 60px;
        font-size: 1em;
        font-weight: bold;
        padding: 20px 5px 5px 5px;
        font-size: 0.8em;
    }

    div {
        width: 15%;
        height: 20%;
    }

    
}

@media only screen and (min-device-width :781px) and (max-device-width :860px){
    #divContainer {
        width: 100%;
        height: 450px;
        
    }

    #startButton {
        width: 160px;
        height: 80px;
        font-size: 1.2em;
    }

    .eventButtons {
        width: 160px;
        height: 80px;
        font-size: 1.2em;
    }

    div {
        width: 16%;
        height: 24.9%;
    }

     #counter {
        width: 160px;
        height: 80px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }

    
}

@media only screen and (min-device-width:861px) and (max-device-width :1200px) {
    #divContainer {
        width: 100%;
        height: 500px;
        
    }

    #startButton {
        width: 160px;
        height: 80px;
        font-size: 1.2em;
    }

    .eventButtons {
        width: 160px;
        height: 80px;
        font-size: 1.2em;
    }

    div {
        width: 15%;
        height: 20%;
    }

     #counter {
        width: 160px;
        height: 80px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }

    
}


@media only screen and (min-device-width :1200px) {
    #divContainer {
        width: 60%;
        height: 500px;
        padding: 1%;
        margin-left: 20%;
        margin-right: 10%;
    }

    #startButton {
        width: 200px;
        height: 100px;
        font-size: 1.5em;
    }

    .eventButtons {
        width: 200px;
        height: 100px;
        font-size: 1.5em;
    }

    div {
        width: 15%;
        height: 20%;
    }

    #counter {
        width: 200px;
        height: 100px;
        font-size: 1.5em;
        font-weight: bold;
    }

    
}
