$baseColor:  #66cc33;
$secondColor:  #339999;
$fontColor: #ffff33;

%boardGames {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}

%styleBcg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    
}

/*


*/