body {
	background:  #006f6f;
	
    font-family: 'Raleway', sans-serif;

}
#app {
	margin: 0 auto;
	margin-top: 5%;
	width: 90vw;
	min-height: 200px;
	height: 450px;
}

@media(min-width: 420px){
	#app {
		height: 480px;
	}
}

@media(min-width: 796px){
	#app {
		height: 500px;
	}
}

@media(min-width: 1024px){
	#app {
		height: 520px;
	}
}
.appContainer {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #dfdfdf;
	border: 5px solid #004545;
	border-radius: 15%;
}

@media(min-width: 420px){
	.appContainer{
		width: 360px;

	}
}

@media(min-width: 796px){
	.appContainer{
		width: 650px;
	}
}

@media(min-width: 1024px){
	.appContainer{
		width: 800px;
	}
}

article>button {
	width: 200px;
	height: 50px;
	background-color: #005656;
	border: 3px solid #004545;
	border-radius: 10%;
	color: #dedede;
	font-weight: bolder;
	font-size: 1.5em;
	text-transform: uppercase;
}

article>button:hover {
	background-color: #006767;
}

article h2 {
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 2px 2px #004848;
	color: #004f4f;
}

article {
	width: 95%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
article p {
	color: #006a6a;
	text-shadow: 1px 1px #004848;
}

h2 {
	font-size: 1.75em;
	text-shadow: 1px 1px #005555;
	text-align: center;	
    font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	color: #005f5f;
	text-decoration: underline;
}
@media(min-width: 796px){
	h2 {
		font-size: 2em;
	}
}

h3 {
	color: #006767;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px #004848;
	text-align: center;
}


.questionContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.invisible {
	display: none;
}



.answersContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 240px;
	height: auto;
	width: 100%;
}

.answersContainer>button {
	width: 80px;
	height: 80px;
	background-color:   #006f6f;
	border-radius: 25%;
	border: 3px solid  #005e5e;
	text-shadow: 3px 3px #005656;
	color: #fefefe;
	font-size: 0.9em;
	font-weight: bold;
	transition: 0.5s;
}


@media(min-width: 420px){
	.answersContainer {
		width: 95%;
		
	}
	.answersContainer>button{
		width: 100px;
		height: 100px;
		font-size: 1.1em;
	}
}

@media(min-width: 796px){
	.answersContainer {
		width: 85%;
	}
	.answersContainer>button{
		width: 120px;
		height: 120px;
		font-size: 1.2em;
	}
}

@media(min-width: 1024px){
	.answersContainer {
		width: 75%;
	}
	.answersContainer>button{
		width: 140px;
		height: 140px;
		font-size: 1.3em;
	}
}
.answersContainer>button:first-of-type {
	align-self: flex-start;
	
}
.answersContainer>button:last-of-type {
	align-self: flex-end;
	}


.resultsDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #009999;
	border-top: 3px solid #003636;
	border-bottom: 3px solid #003636;
	width: 100%;
}

article p, .resultsDiv p {
	font-size: 1.2em;
	text-align: center;
}
article p {
	color: 004545;
}

.resultsDiv p, .resultsDiv h2 {
	color: #fefefe;
	text-shadow: 1px 1px #cdcdcd;
}



.resultsDiv p:first-of-type {
	font-size: 1.5em;
}

@media(min-width: 560px){
	article p, .resultsDiv p {
	font-size: 1.3em;
	text-align: center;
}

.resultsDiv p:first-of-type {
	font-size: 1.6em;
}
}

@media(min-width: 796px){
	article p, .resultsDiv p {
	font-size: 1.4em;
	text-align: center;
}

.resultsDiv p:first-of-type {
	font-size: 1.7em;
}
}

span {
	color: #00f5f5;
	font-size: 1.6em;
	font-weight: bolder;
	font-style: italic;
}