body {
	background:  #006699;
	font-family: "Roboto"
}
#app {
	margin: 0 auto;
	margin-top: 5%;
	width: 90vw;
	min-height: 200px;
	height: 450px;
}

@media(min-width: 420px){
	#app {
		height: 480px;
	}
}

@media(min-width: 796px){
	#app {
		height: 500px;
	}
}

@media(min-width: 1024px){
	#app {
		height: 520px;
	}
}
.appContainer {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffff99;
	border: 5px solid #003366;
	border-radius: 15%;
}

@media(min-width: 420px){
	.appContainer{
		width: 360px;

	}
}

@media(min-width: 796px){
	.appContainer{
		width: 650px;
	}
}

@media(min-width: 1024px){
	.appContainer{
		width: 800px;
	}
}

article>button {
	width: 200px;
	height: 50px;
	background-color: #0033cc;
	border: 3px solid #003399;
	border-radius: 10%;
	color: #fefefe;
	font-weight: bolder;
	font-size: 1.5em;
	text-transform: uppercase;
}

article h2 {
	font-size: 2.5em;
	font-weight: bold;

}

article {
	width: 95%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
article p {
	color: #336688;
}

h2 {
	font-size: 1.75em;
	text-align: center;
	font-family: "Roboto";
	font-weight: bolder;
	color: #336699;
	text-decoration: underline;
}
@media(min-width: 796px){
	h2 {
		font-size: 2em;
	}
}

h3 {
	color: #336699;
	font-size: 1.5em;
	font-weight: bold;
}


.questionContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.invisible {
	display: none;
}



.answersContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 240px;
	height: auto;
	width: 100%;
}

.answersContainer>button {
	width: 80px;
	height: 80px;
	background-color: #33cc66;
	border-radius: 15%;
	border: 3px solid  #339966;
	color: #fefefe;
	font-size: 1em;
	font-weight: bold;
	transition: 0.5s;
}


@media(min-width: 420px){
	.answersContainer {
		width: 95%;
		
	}
	.answersContainer>button{
		width: 100px;
		height: 100px;
		font-size: 1.1em;
	}
}

@media(min-width: 796px){
	.answersContainer {
		width: 85%;
	}
	.answersContainer>button{
		width: 120px;
		height: 120px;
		font-size: 1.2em;
	}
}

@media(min-width: 1024px){
	.answersContainer {
		width: 75%;
	}
	.answersContainer>button{
		width: 140px;
		height: 140px;
		font-size: 1.3em;
	}
}
.answersContainer>button:first-of-type {
	align-self: flex-start;
	background-color:  #ff3366;
	border: 3px solid #ff0066;
}
.answersContainer>button:last-of-type {
	align-self: flex-end;
	background-color: #3333cc;
	border: 3px solid  #3300cc;
}


.resultsDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #339999;
	width: 100%;
}

article p, .resultsDiv p {
	font-size: 1.2em;
	text-align: center;
}
article p {
	color: 004545;
}

.resultsDiv p, .resultsDiv h2 {
	color: #fefefe;
}



.resultsDiv p:first-of-type {
	font-size: 1.5em;
}

@media(min-width: 560px){
	article p, .resultsDiv p {
	font-size: 1.3em;
	text-align: center;
}

.resultsDiv p:first-of-type {
	font-size: 1.6em;
}
}

@media(min-width: 796px){
	article p, .resultsDiv p {
	font-size: 1.4em;
	text-align: center;
}

.resultsDiv p:first-of-type {
	font-size: 1.7em;
}
}