* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    
    background-color: #005599;
    font-family: 'Lato', sans-serif;
    color: #efefef;
    height: 100vh;
    overflow-y: hidden;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.invisible {
	display: none;
}

.intro {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
h1, h2 {
	text-align: center;
	
}
h1 {
	font-size: 45px;
}
.intro h1 {
	font-family: 'Indie Flower', cursive;
}
.intro h2 {
	font-size: 35px;
	font-family: 'Indie Flower', cursive;
}

.start, .stop {
	background: #003366;
	color: #efefef;
	width: 300px;
	height: 45px;
	border: none;
	margin-top: 20px;
	border-radius: 5%;
	font-size: 30px;
	text-transform: uppercase;
}
.backBtn {
	width: 100px;
	height: 100px;
	background-image: url("../images/back.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	color: white;
	font-weight: bolder;
	border: none;
	
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.timer {
	width: 100vw;
	height: 260px;
}

.timer p:first-of-type {
	height: 150px;
	//border: 1px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;


}

.timer p:nth-of-type(2){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
	min-height: 150px;
}

.timer p:nth-of-type(2) span {
	font-size: 20px;
	text-align: center;
}


form {
		align-self: center;
}

.displayingTime {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 250px;
}

#endTime {
	font-size: 25px;
}

.item {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #007799;
	border: 2px solid #008899;
	font-size: 10px;
	text-transform: lowercase;
	color: #efefef;
	text-shadow: 2px 2px #006677;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


@media(min-width: 420px){
	.item {
		font-size: 14px;
		width: 100px;
		height: 100px;
	}
	.timer p:nth-of-type(2) span {
	font-size: 24px;
	text-align: center;
}

}
@media(min-width: 596px){
	.item {
		font-size: 18px;
	}
}
@media(min-width: 796px){
	.item {
		font-size: 20px;
		width: 120px;
		height: 120px;
	}
}
@media(min-width: 1024px){
	.item {
		font-size: 24px;
		width: 140px;
		height: 140px;
	}
}
form {
	width: 20%;
	height: 50px;
}
form input {
	height: 100%;
	width: 100%;
}

.shower {
	background-image: url("../images/shower.png");
}

.makeup {
	background-image: url("../images/lipstick.png");
}

.breakfast {
	background-image: url("../images/breakfast.png");
}

.snooze {
	background-image: url("../images/snooze.png");
}

.blush {
	background-image: url("../images/blush.png");
}

.stretch {
	background-image: url("../images/stretch.png");
}

.lunch {
	background-image: url("../images/lunch.png");
}
.bath {
	background-image: url("../images/bath.png");
}
.teeth {
	background-image: url("../images/teeth.png");
}
.dinner {
	background-image: url("../images/dinner.png");
}