*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Indie Flower', cursive;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	background-color: #000066;


}

%layout {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.intro {
	background-color:  #000033;
	border: 5px solid yellow;
	border-radius: 4%;
	color: white;
	height: 590px;
	width: 1100px;
	max-width: 90vw;
	margin: 0 auto;
	margin-top: 20px;
	@extend %layout;
	h1{
		font-size: 46px;
		font-weight: bolder;
		margin-top: 10px;
		line-height: 50px;
		height: 50px;
		text-shadow: 5px 5px 5px #ffff00;
		font-family: 'Amatic SC', cursive;
		
	}
	article {
		
		height: auto;
		&:first-of-type {
		@extend %layout;
		width: 100%;
		height: 200px;
			p {
				width: 70%;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.4;
				margin: 5px 10px;
				padding: 4px;
				text-align: center;
				
			}

			span {
				font-family: 'Amatic SC', cursive;
				font-size: 35px; 
				text-shadow: 4px 4px 4px #00ff77;
				&:last-of-type{
					text-shadow: 4px 4px 4px mix(hotpink, red);
				
				}
			}
			

		}

		&:nth-of-type(2){
			width: 80%;
			margin-top: 10px;
			color: #000033;
			font-weight: bolder;
			background-color: #ffff77;
			height: 300px;
			border: 4px solid darken(#ffff77, 20%);
			border-radius: 5%;
			font-family: 'Amatic SC', cursive;
			display: flex;
			align-items: center;
			h4 {
				font-size: 35px;
				color: #ffffff;
			}
			
		}
	}

	
	ol {
		
		@extend %layout;
		margin: 0 auto;
		align-items: flex-start;
		width: auto;
		height: 300px;
		
		li {
			font-size: 28px;
			line-height: 1.4;
			span {
				color: #ff0011;
			}
		}

	}

	button {
		font-size: 25px;
		height: 40px;
		width: 100px;
		font-family: 'Amatic SC', cursive;
		font-weight: bolder;
		background-color: darken(mix(hotpink, red), 10%);
		color: white;
		border: none;
		border: 3px solid darken(mix(hotpink, red), 30%);
		border-radius: 5%;
		margin-bottom: 5px;
		margin-top: 5px;
		
	}
	
}

.pictograms>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 120px;
  border-radius: 5%;
  margin-right: 15px;
  margin-left: 15px;
  background: #008073;
  border: 3px solid #004d45;
}

.pictograms>div:nth-of-type(2) {
  background: #ff355a;
  border: 3px solid #ff0230;
}

.imageContainer {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  color: #000033;
  font-weight: bolder;
  height: 55px;
	  width: 100%;
	  img {
	  height: 55px;
	  width: 55px;
	  margin-right: 5px;
	  margin-left: 5px;
	  border-radius: 10%;
	}
}


.invisible {
	display: none;
}

.game {
	background-color: #000033;
	max-width: 100vw;
	height: 100vh;
	padding-top: 20px;
	@extend %layout;
}
#results {
	width: 300px;
	height: 50px;
	font-size: 30px;
	color: white;
}
.stats {
	margin-top: 5px;
	border: 2px solid yellow;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	width: 505px;
	background-color: #000022;
}
#stats {
	width: 180px;
	height: 120px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	//border: 1px solid blue;
	padding: 5px;
	img{
		width: 35px;
		height: 30px;
	}
	.items {
		display: flex;
		justify-content: center;
		align-items: center;
		//border: 1px solid yellow;
		margin-top: 5px;

	}
	#numbers {
		word-spacing: 15px;
		font-size: 30px;
		margin-left: 10px;
	}
}

#timer {
	color: white;
	font-size: 35px;
	font-weight: bolder;
	font-family: 'Amatic SC', cursive;
}
#quality {
	color: yellow;
	font-size: 35px;
	font-weight: bolder;
	margin-bottom: 50px;
	font-family: 'Amatic SC', cursive;

}
.container {
	width: 505px;
	height: 505px;
	background-color: #000022;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 2px solid yellow;
	div {
		width: 50px;
		height: 50px;
		border-radius: 40%;
		
		
		
	}

}
.johny {
	background-image: url("../images/johny.png");
	background-size: cover;
	background-repeat: no-repeat;

}
.spoon {
	background-image: url("../images/spoon.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.dollar {
	background-image: url("../images/dollar.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.rose {
	background-image: url("../images/rose3.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.chrisR {
	background-image: url("../images/triple.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.claudette {
	background-image: url("../images/claudette.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.gameOver {
	background-color: #000033;
	height: 100vh;
	width: 100vw;
	font-size: 40px;
	color: #efefef;
	text-shadow: 4px 4px 4px mix(hotpink, red);
	text-align: center;
	div {
		background-image: url("../images/tearingmeapartlisa.jpg");
	}
}
.pictureDiv{
	background-size: cover;
	background-repeat: no-repeat;
	width: 500px;
	height: 300px;
	border-radius: 10%;
	border: 3px solid darken(mix(hotpink, red), 30%);
}
.dateTime {	
	background-color: #000033;
	height: 100vh;
	width: 100vw;
	font-size: 40px;
	color: #efefef;
	text-shadow: 4px 4px 4px mix(hotpink, red);
	text-align: center;
	div {
		background-image: url("../images/datetime.jpg")
	}
}
.dateTime, .gameOver {
	@extend %layout;
	p {
		width: 50%;
	}
}

.comeback {
	background: darken(mix(hotpink, red), 10%);
	border: none;
	border-radius: 5%;
	border: 2px solid darken(mix(hotpink, red), 40%);
	color: white;
	font-size: 30px;
	margin-top: 20px;
	text-decoration: none;
	text-shadow: none;
	width: auto;
	height: auto;
	padding: 10px;
	font-weight: bolder;
	font-family: 'Amatic SC', cursive;
}