*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	background-color: #000066;


}

%layout {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.intro {
	background-color:  #000033;
	border: 5px solid yellow;
	border-radius: 4%;
	color: white;
	height: 95vh;
	max-width: 80vw;
	margin: 0 auto;
	margin-top: 20px;
	@extend %layout;
	h1{
		font-size: 32px;
		margin-top: 10px;
		text-shadow: 5px 5px 5px red;
		
	}
	article {
		@extend %layout;
		height: auto;
		&:first-of-type {
		width: 100%;

			p {
				width: 70%;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.4;
				margin: 5px 10px;
				padding: 4px;
				text-align: center;
				
			}
			

		}
		&:nth-of-type(3){
			display: flex;
			flex-direction: row;
			width: 70%;
			
		}
		&:nth-of-type(2){
			width: 80%;
			margin-top: 10px;
			color: #000033;
			font-weight: bolder;
			background-color: #ffff33;
			border-radius: 5%;
			
			
			
		}
	}

	h2 {
		color: #000033;
		font-size: 32px;
		
	}
	ol {
		
		@extend %layout;
		align-items: stretch;
		width: 70%;
		li {
			font-size: 20px;
			line-height: 1.4;
			
			span {
				color: #ff0011;
			}
		}

	}

	button {
		font-size: 25px;
		height: 40px;
		width: 100px;
		font-weight: bolder;
		background-color: red;
		color: white;
		padding: 2px;
		border: none;
		border-radius: 5%;
		margin-bottom: 1%;
		
	}
	
}

.pictograms {
	p{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 45%;
		height: 100%;
		span {
			font-size: 26px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			color: white;
			text-shadow: 4px 4px 4px red;
			height: 49%;
			width: 90%;
			
			img{
				height:65px;
				width: 65px;
				margin-right: 10px;
				margin-left: 10px;
				border-radius: 5%;

			}
		}

				
	}
}

.invisible {
	display: none;
}

.game {
	background-color: #000033;
	max-width: 100vw;
	height: 100vh;
	padding-top: 20px;
	@extend %layout;
}
#results {
	width: 300px;
	height: 50px;
	font-size: 30px;
	color: white;
}
.stats {
	margin-top: 5px;
	border: 2px solid yellow;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	width: 500px;
}
#stats {
	width: 180px;
	height: 120px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	//border: 1px solid blue;
	padding: 5px;
	img{
		width: 35px;
		height: 30px;
	}
	.items {
		display: flex;
		justify-content: center;
		align-items: center;
		//border: 1px solid yellow;
		margin-top: 5px;

	}
	#numbers {
		word-spacing: 20px;
		font-size: 30px;
		margin-left: 10px;
	}
}

#timer {
	color: white;
	font-size: 25px;
}
#quality {
	color: yellow;
	font-size: 25px;
	margin-bottom: 50px;

}
.container {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	div {
		width: 50px;
		height: 50px;
		
		border: 1px solid yellow;
	}

}
.johny {
	background-image: url("../images/johny.png");
	background-size: cover;
	background-repeat: no-repeat;

}
.spoon {
	background-image: url("../images/spoon.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.dollar {
	background-image: url("../images/dollar.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.rose {
	background-image: url("../images/rose.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.chrisR {
	background-image: url("../images/triple.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.claudette {
	background-image: url("../images/claudette.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.gameOver {
	background-color: #000033;
	height: 100vh;
	width: 100vw;
	font-size: 40px;
	color: #efefef;
	text-shadow: 4px 4px 4px red;
	text-align: center;
}
.pictureDiv{
	background-size: cover;
	background-repeat: no-repeat;
	width: 500px;
	height: 300px;
	border-radius: 10%;
	border: 2px solid red;
}
.dateTime {	
	background-color: #000033;
	height: 100vh;
	width: 100vw;
	font-size: 40px;
	color: #efefef;
	text-shadow: 4px 4px 4px red;
	text-align: center;
}
.dateTime, .gameOver {
	@extend %layout;
	p {
		width: 50%;
	}
}

.comeback {
	background: red;
	border: none;
	border-radius: 5%;
	color: white;
	font-size: 30px;
	margin-top: 20px;
	text-decoration: none;
	text-shadow: none;
	width: auto;
	height: auto;
	padding: 10px;
}