*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	background-color: #efefef;
	font-family: "Roboto";
	height: 100vh;
	max-width: 100vw;
	
}

/* styles for both sites*/
.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}
.grid-section {
    overflow: hidden;
    padding-bottom: 200px;
    //background-color: #005656;
}
 
.grid {
    padding-bottom: 100%;
    position: relative;
    height: 50vh;
    transform: rotate(45deg);
    transform-origin: 39%;
    background-color: #efefef;
    border-top: 7px solid #777;
    border-left: 7px solid #777;
}



/*styles for main page */


.diamond {
    width: 11.5%;
    border-radius: 10%;
    padding-bottom: 11.5%;
    background-color:  #005555;
    border: 2px solid   #004444;
    display: inline-block;
    transition: 2s;
    
}
 
.diamond-big {
    width: 25%;
    border-radius: 5%;
    padding-bottom: 25%;
    display: inline-block;
    transition: 2s;
    background-color: #006666;
    border: 2px solid  #007777;
    
    
}

.diamond:hover {
  
  background-color: #0066cc;
}
.diamond-big:hover {
  //transform: rotateX(180deg);
  
  background-color: #006699;
}
  
#diamond1 {
  position: absolute;
  top: 8%;
  left: 10.5%; 
  animation-duration: 2s;
  //background-color: red;
}

#diamond2 {
  position: absolute;
  top: 8%;
  left: 37%; 
  animation-duration: 2s;
  //background-color: yellow;
}

#diamond3 {
  position: absolute;
  top: 35%;
  left: 10.5%; 
  animation-duration: 2.5s;
  //background-color: violet;
}

#diamond4 {
  position: absolute;
  top: 35%;
  left: 37%; 
  animation-duration: 2.5s;
  //background-color: pink;
}

#diamond5 {
  width: 8.5%;
  padding-bottom: 8.5%;
  position: absolute;
  top: 47%;
  left: 48.5%;
  animation-duration: 3s;
  
}


.diamond-big p {
  position: absolute;
  top: 25%;
  left:50%;
  transform: rotate(315deg);
  color: white;
  font-family: "Roboto";
  font-size: 9px;
   @media(min-width: 568px){
  	font-size: 14px;
  }
  @media(min-width: 1024px){
  	font-size: 18px;
  }
  font-weight: bold;
  text-align: center;
}

.diamond p {
  position: absolute;
  top: 25%;
  left:25%;
  transform: rotate(315deg);
  color: white;
  font-family: "Roboto";
  font-size: 9px;
   @media(min-width: 568px){
  	font-size: 14px;
  }
  @media(min-width: 1024px){
  	font-size: 18px;
  }
  font-weight: bold;
  text-align: center;
}



.content {
	width: 100%;
	//padding-bottom: 52%;
	height: 100%;
	//margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//border: 5px solid #005656;
	//position: absolute;
	border-radius: 5%;
	//top: 8%;
	//left: 10.5%;
#introductionArticle, #moreInfoArticle {
	line-height: 1.5;
	
	width: 70%;
	height: 90%;
}
  .introductionArticle {
    width: 70%;
    height: 75%;
    transform: rotate(15deg);
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #006767;
    background-color: #dedede;
    p {
      width: 60%;
      color: #555;
      text-align: center;
      font-size: 12px;
      margin: 1%;
      padding: 5px;
      transform: rotate(-15deg);
      @media(min-width: 568px){
        font-size: 18px;
      }
      @media(min-width: 1024px){
        font-size: 25px;
      }
      &:first-letter {
        color: #007777;
        font-size: 18px;
        font-weight: bolder;
        @media(min-width: 568px){
          font-size: 24px;
        }
        @media(min-width: 1024px){
          font-size: 30px;
        }
      }
    }
    .moreInfo, .back {
      width: 140%;
      height: 50px;
      background-color: #006767;
      transform: rotate(-15deg);
      font-size: 20px;
      text-transform: uppercase;
    }
    div {
      width: 120%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #006767;
      transform: rotate(-15deg);
      text-transform: uppercase;
      //font-weight: bolder;
    }
    a {
      width: 75px;
      height: 25px;
      //background-color: #007878;
      margin: 0.5%;
      font-size: 18px;
      line-height:25px;
      text-align: center;
      border-radius: 5%;
      color: #ffffff;
      text-decoration: none;
      //transform: rotate(-15deg);
    }
  
    button {
      width: 50px;
      height: 25px;
      background-color: transparent;
      color: #ffffff;
      font-size: 18px;
      margin: 0.5%;
      border: none;
      //border-radius: 5%;
      
      //transform: rotate(-15deg);
      //align-self: flex-end;
     
      
    }

    .photoDiv {
    	width: 100px;
    	height: 100px;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center;
    	background-image: url("../images/temporary.jpg");
    	border-radius: 50%;
    	border: 3px solid #006565;
    }

  }
	.quizArticle, .alertBox {
		position: absolute;
		//transform: rotate(-45deg);
    	overflow: hidden;
		width: 65%;
		height: 65%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border: 4px solid #006767;	
    	background-color: #008787;
	}
	.alertBox {
		z-index: 2;
	}
	.quizPar {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 70%;
		height: 70%;
		border: 4px solid #007878;
    background-color: #ededed;
		margin: 0 auto;

	}
	.title {
		text-align: center;
		color: #efefef;
		font-size: 15px;
    @media(min-width:568px){
      font-size: 21px;
    }
		//text-decoration: underline;
	}
  #result {
    width: 60%;
    margin: 0 auto;
  }
	label {
		background-color: #a9a9a9;
		width: 90%;
		height: 30px;
		line-height: 30px;

		font-size: 9px;
    font-weight: bolder;
    @media(min-width: 568px){
      font-size: 16px;
      height: 40px;
      line-height: 40px;
    }
		text-align: left;
		color: #efefef;
	}
	input {
		opacity: 0.01;
	}

	 .quizBtns {
		width: 50px;
		height: 25px;
    border: 2px solid #006767;
    @media(min-width: 568px){
      width: 70px;
      height: 35px;
    }
		border: none;
		background-color: #ececec;
		margin: 0 auto;
		color: #007676;
		font-size: 15px;
    @media(min-width: 568px){
      font-size: 21px;
    }
	}
}

.checked {
	border: 3px solid #007676;
  
}

.invisible {
	display: none;
}

.tiltedTitle {
	width: 110%;
	height: 50px;
	background-color: #006767;
	color: #efefef;
	text-align: center;
	transform: rotate(-15deg);
	margin: 1%;
	line-height: 50px;
}
.tiltedList {
	width: 110%;
	height: 100px !important;
	background-color: #005656;
	color: #fefefe;
	transform: rotate(-15deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1%;
	ul {
		width: 40%;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-transform: lowercase;

		li {
			font-size: 10px;
			@media(min-width: 568px){
				font-size: 16px;
			}
			@media(min-width: 1024px){
				font-size: 20px;
			}
		}
		a {
			font-size: inherit;
		}
	}
	
	
}

.comeback, .back {
  width: 105%;
  height: 25px;
  @media(min-width: 568px){
  	height: 50px;
  	font-size: 24px;
  }
  background-color: #efefef;
  border: 2px solid #009999;
  color: #006767;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  
}


/* styles for projects */

@keyframes appear {
 	0% {
 		opacity:0;
 		transform: scale(0.01)rotate(15deg);
 		
 	}
 	10% {
 		opacity:0.1;
 		transform: scale(0.1)rotate(22deg);
 		
 	}
 	20% {
 		opacity: 0.2;
 		transform: scale(0.2)rotate(30deg);
 		
 	}
 	30% {
 		opacity:0.3;
 		transform: scale(0.3)rotate(37deg);
 		
 	}
 	40% {
 		opacity: 0.4;
 		transform: scale(0.4)rotate(45deg);
 		
 	}
 	50% {
 		opacity:0.5;
 		transform: scale(0.5)rotate(37deg);
 		
 	}
 	60% {
 		opacity: 0.6;
 		transform: scale(0.6)rotate(30deg);
 		
 	}
 	70% {
 		opacity:0.7;
 		transform: scale(0.7)rotate(22deg);
 		
 	}
 	80% {
 		opacity: 0.8;
 		transform: scale(0.8)rotate(15deg);
 		
 	}
 	90% {
 		opacity:0.9;
 		transform: scale(0.9)rotate(7deg);
 		
 	}
 	100% {
 		opacity: 1.0;
 		transform: scale(1.0)rotate(0deg);
 		
 	}

 }



 
.square {
    width: 11.5%;
    border-radius: 10%;
    padding-bottom: 11.5%;
    background-color:  #005555;
    border: 2px solid   #004444;
    display: inline-block;
    animation-name: appear;
    //animation-delay: 2s;
    transition: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
}
 
.square-big {
    width: 25%;
    border-radius: 5%;
    padding-bottom: 25%;
    display: inline-block;
    transition: 2s;
    background-color: #006666;
    border: 2px solid  #007777;
    animation-name: appear;
    //animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    
}
.square-medium {
    width: 20.5%;
    border-radius: 5%;
    padding-bottom: 20.5%;
    display: inline-block;
    transition: 2s;
    background-color: #006666;
    border: 2px solid  #007777;
    animation-name: appear;
    //animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.square:hover {
  //transform: rotateX(180deg);
  //transform: scale(1.2);
  background-color: #0066cc;
}
.square-big:hover {
  //transform: rotateX(180deg);
  //transform: scale(1.1);
  background-color: #006699;
}
.square-medium:hover {
  background-color: mix(#006699, #0066cc);
}
  
#square1 {
  position: absolute;
  top: 9.5%;
  left: 10.5%; 
  animation-duration: 2s;
  //background-color: red;
}

#square2 {
  position: absolute;
  top: 5.5%;
  left: 32.5%; 
  animation-duration: 2s;
  //background-color: yellow;
}

#square3 {
  position: absolute;
  top: 32.5%;
  left: 5.5%; 
  animation-duration: 2.5s;
}

#square4 {
  position: absolute;
  top: 32.5%;
  left: 19%; 
  animation-duration: 2.5s;
}

#square5 {
  position: absolute;
  top:32.5%;
  left: 32.5%;
  animation-duration: 3s;
  
}
#square6 {
  position: absolute;
  top: 46%;
  left:5.5%;
  animation-duration: 3s;
  
}
#square7 {
  position: absolute;
  top: 46%;
  left: 19%;
  animation-duration: 3s;
  
}
#square8 {
  width: 7.5%;
  padding-bottom: 7.5%;
  position: absolute;
  top: 59.5%;
  left: 5.5%;
  
  animation-duration: 3.5s;
  
}
#square9 {
  position: absolute;
  top: 59.5%;
  left: 15%;
  animation-duration: 3.5s;

  
}


.square-big p {
  position: absolute;
  top: 25%;
  left:50%;
  transform: rotate(315deg);
  color: white;
  font-family: "Roboto";
  font-size: 9px;
   @media(min-width: 568px){
  	font-size: 14px;
  }
  @media(min-width: 1024px){
  	font-size: 18px;
  }
  font-weight: bold;
  text-align: center;
}

.square-medium p {
  position: absolute;
  top: 25%;
  left:45%;
  transform: rotate(315deg);
  color: white;
  font-family: "Roboto";
  font-size: 9px;
   @media(min-width: 568px){
  	font-size: 14px;
  }
  @media(min-width: 1024px){
  	font-size: 18px;
  }
  font-weight: bold;
  text-align: center;
}

.square p {
  position: absolute;
  top: 25%;
  left:25%;
  transform: rotate(315deg);
  color: white;
  font-family: "Roboto";
  font-size: 9px;
  @media(min-width: 568px){
  	font-size: 14px;
  }
  font-weight: bold;
  text-align: center;
}


