{% extends 'base.html' %}
	{% block content %}
	<h1 class="page-header">New Post:</h1>
	<div class="jumbotron">
		<form method= "POST" action="{% url 'posts:create' %}" >
		{% csrf_token %} 
			<label for="title">Title</label>
			<br>
			<input type="text" name ="title" class ="form-control">
			<br>
			<label for="password1">URL:</label>
			<br>
			<input type="text" name= "url" class ="form-control">
			<br>
			<br>
			<input type="submit" name ="submit" value= "post" class="btn btn-primary">
		</form>
	</div>
	{% if error%}
	<div>{{error}}</div>
	{%endif%}
    {% endblock %}